.modal-main {
  height: 100%;
  width: 100%;
  background-color: rgba(246, 43, 43, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  height: 30%;
  width: 30%;
  background-color: rgb(245, 237, 237);
}
